body {
background-color: #eee

}

.ans {
    margin-left: 36px !important;
    margin-top: 10px !important;
}

.border {
  margin: 5px;
}

h3 {
  margin-bottom: 20px;
}

#feedback {
  text-decoration: underline gray;
  color: gray;
  font-style: italic;
}

.nounderline {
  text-decoration: none !important;
  color: #212529 !important;
}

.list-group {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

@media (max-width: 576px) { 
  .list-group {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
 }